/*Body formatted with external Google Fonts and background color*/
body {
  font-family: "Manrope", sans-serif;
  background-color: rgb(80, 102, 112);
  color: rgb(50, 64, 71)
}

.list-group-item {
  background-color: rgb(96, 114, 122);
  color: rgb(63, 72, 77);
}

.shadow-lg {
  background-color: rgb(96, 114, 122);
}

.container {
  margin-top: 90px;
}

/*text formatting for header*/
.text-large {
  font-size: 50px;
  margin-bottom: 10px;
}

.img-thumbnail {
  margin-bottom: 20px;
  height: auto;
  width: auto;
}

form {
  margin-bottom: 20px;
}

.navbar {
  background-color: rgb(50, 64, 71);
}

#headshot {
  width: 100%;
  padding-right: 80%;
}

p {
  font-size: large;
}

/*formatting for footer section on all pages*/
footer {
  padding: 5px;
  margin-top: -5px;
  background-color: rgb(50, 64, 71);
  font-size: large;
}

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  font-size: large;
  padding: 15px;
  margin-bottom: 60px;
  border-radius: 8px;
  
}

#status.success {
  background-color: rgb(96, 114, 122);
  animation: status 4s ease forwards;
}

#status.error {
  background-color: rgb(96, 114, 122);
  animation: status 4s ease forwards;
}


@keyframes status {
  0%{
    opacity: 1;
    pointer-events: all;
  }
  90%{
    opacity: 1;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: none;
  }
} 
