/*Body formatted with external Google Fonts and background image in assets folder*/
body {
  font-family: "Manrope", sans-serif;
  background-image: url(./photo-1521846562476-9c2446539e47.jpg);
}

/*formatting for shadowed box found on all pages*/
.shadow {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.container {
  width: 100%;
  margin-top: 30px;
}

/*text formatting for header*/
.text-large {
  font-size: 50px;
  margin-bottom: 10px;
}

.img-thumbnail {
  margin-bottom: 20px;
  height: auto;
  width: auto;
}

form {
  margin-bottom: 20px;
}

/*formatting for footer section on all pages*/
footer {
  padding: 5px;
  margin-top: -5px;
}
